<div class="background">
  <div class="login-container">
    <div class="text-container">
      <h1>Registrarse</h1>
      <p>
       ¿Quieres crear una cuenta para poder registrar tus plantillas?
       ¡A que esperas a hacer click en el siguiente boton!
      </p>
      <button mat-button routerLink="/register">Registrarse</button>
    </div>
    <div class="form-container">
      <h1>Bienvenido al login</h1>
      <button class="mat-raised-button" (click)="loginWithGoogle()">
        Inicia sesion con Google
      </button>
      <h5>O inicia sesion con tu email</h5>
      <app-login-form (formData)="login($event)"></app-login-form>
    </div>
  </div>
</div>
