<div class="background">
  <div class="login-container">
    <div class="text-container">
      <img src="https://scontent-ecv1-1.xx.fbcdn.net/v/t1.6435-9/103320515_107965017634730_6476123315027151045_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=973b4a&_nc_ohc=d5I9ZD79GaAAX-FyAKr&_nc_ht=scontent-ecv1-1.xx&oh=00_AT8cjG_Q4lGt4fiCccs-1ASekLLXuI_whPeZJpPblvm2zA&oe=62BB24EA" alt="">
      <p>
       Av. Cataluña 106, 50014, Zaragoza
      </p>
      <a href="https://www.zerca.com/v/odisea-games" target="_blank"><button mat-button>Odisea Games</button></a>
    </div>
    <div class="form-container">
      <h4>Tienda de juegos de mesa y miniaturas donde encontraras todo lo necesario
        para iniciarte en cualquier juego de miniaturas. Ademas organizan ligas, torneos y concursos de pintura, de distintos juegos,
        creando una gran comunidad.</h4>
    </div>
  </div>
  <div class="login-container">
    <div class="text-container">
      <img class="gt" src="https://scontent-ecv1-1.xx.fbcdn.net/v/t1.6435-9/46362797_2139598199624984_4031794931579224064_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=NrDzXIv9krgAX-_jwgI&_nc_ht=scontent-ecv1-1.xx&oh=00_AT9EcvXyTCeVSFXXay1mMZfpLjqzMfblGtuI3sRzAOETjA&oe=62B9F40D" alt="">
      <p>
        C. Pascasio Escoriaza, 8, 50010 Zaragoza
      </p>
      <a href="https://www.goblintrader.es/es/zaragoza" target="_blank"><button mat-button>GoblinTrader</button></a>
    </div>
    <div class="form-container">
      <h4>Goblintrader Zaragoza es una tienda especializada
        en wargames y todo lo relacionado con el modelismo. En ella pordrás reservar mesas para jugar partidas. Cuentan con ligas.</h4>
    </div>
  </div>
</div>
<div class="background">
  <div class="login-container">
    <div class="text-container">
      <img src="https://www.games-workshop.com/resources/static/header-2017/gw-logo-default-stacked.svg" alt="">
      <p>
        C. Francisco de Vitoria, 14, 50008 Zaragoza
      </p>
      <a href="https://www.games-workshop.com/es-ES/Warhammer-Zaragoza" target="_blank"><button mat-button>Warhammer</button></a>
    </div>
    <div class="form-container">
      <h4>Warhammer Zaragoza es un centro especializado en el universo de Warhammer,
        y más concretamente en sus miniaturas y juegos. Además de una amplia gama de miniaturas,
        disponen de todo el material necesario.</h4>
    </div>
  </div>
  <div class="login-container">
    <div class="text-container">
      <img class="mil" src="https://www.milcomics.com/img/milcomics-logo-1615966970.jpg" alt="">
      <p>
        Av. de San José, 15, 50013 Zaragoza
      </p>
      <a href="https://www.milcomics.com/" target="_blank"><button mat-button>Mil Comics</button></a>
    </div>
    <div class="form-container">
      <h4>Tienda de cómics y figuras. Venta física y online de cómic Panini, ECC, firmados, libros, etc.
        Ademas ofrecen juegos de mesa y miniaturas, asi como todo lo necesario para el modelismo.
      </h4>
    </div>
  </div>
</div>


