.table {
  width: 100%;
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-spacing: 10px;
  border-collapse: separate;
  text-align: center;
}
td{
  padding: 0.9%;
}
button{
  margin-right: 10px;
}
