<table class="mat-elevation-z8 table">
  <thead>
    <tr>
      <th scope="col">Escudo</th>
      <th scope="col">Equipo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of  teamsByUser">
      <a [routerLink]="['/edit-team', team.id]">
        <td *ngIf="team.icon">
          <img class="icon" src="{{ team.icon }}" title="{{team.team_name}}">
        </td>
      </a>
      <td>{{ team.team_name }}</td>
      <td>{{ team.description }}</td>
      <td>
        <a [routerLink]="['/edit-team', team.id]">
          <button mat-raised-button color="primary">Editar</button>
        </a>
        <button mat-raised-button class="btn btn-primary" (click)="removeTeam(team)">Borrar</button>
      </td>

    </tr>
  </tbody>
</table>
