<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">description</th>
      <th scope="col">icon</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of Teams; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ team.team_name }}</td>
      <td>{{ team.description }}</td>
      <td *ngIf="team.icon"><a [routerLink]="['/team-list', team.id]"><img class="icon" src="{{ team.icon }}" alt=""></a></td>
    </tr>
  </tbody>
</table>
