<div class="background">
  <div class="login-container">
    <div class="text-container">
      <h1>¿Que es Blood Bowl?</h1>
    </div>
    <div>
      <h2>Blood Bowl es un juego de tablero por turnos para dos jugadores creado por Jervis Johnson, para la compañía Games Workshop. El juego está ambientado en el mundo de Warhammer Fantasy
      poblado por razas fantásticas como humanos, enanos, goblins, elfos, orcos, etc.
      </h2>

      <p class="p">Combina elementos fantásticos con el deporte del fútbol americano, enfrentando a dos equipos (cada uno controlado por un solo «entrenador») de diversas razas en busca de la victoria. Al estilo tradicional de los juegos de estrategia, cada una de estas razas tiene características y habilidades propias de las que deberán intentar sacar provecho para conseguir la victoria. Los jugadores (los personajes miembros de cada equipo) obtienen experiencia partido a partido,
         y desarrollan habilidades nuevas con las que mejorar su rendimiento en el campo.
      </p>
  </div>
  </div>
</div>


<br><br><br><br>

<div class="background">
  <div class="login-container">
    <div class="text-container">
      <h1>Reglamento</h1>
    </div>
    <div>
      <h2>Todo aspirante a entrenador tiene que empezar por alguna parte. Aquí aprenderás conceptos básicos sobre el terreno de juego, los equipos, y las reglas.</h2>
      <p>
      En Blood Bowl, no solo importa lo que sucede durante el partido. Como entrenador,
      es tu deber conocer los puntos fuertes de tus jugadores y planear jugadas ganadoras.
      Para conocer esto y mucho mas pulsa en el siguiente botón.
      <br><br>
      <a href="https://www.alicantebowl.com/images/LRB6.pdf" target="_blank"><button mat-raised-button color="primary">Descargar</button></a>
      </p>
  </div>
  </div>
</div>
