<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Gestor Blood Bowl</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/team-list">
        <mat-icon>format_list_bulleted</mat-icon> Equipos
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-team">
        <mat-icon>add</mat-icon> Añadir Equipo
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-race">
        <mat-icon>add</mat-icon> Añadir Raza
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="store">
        <mat-icon>shop_two</mat-icon> Tiendas
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
