img{
  width: 100%;
}
p {
  margin-bottom: 20px;
  text-align: center;

}
h3{
  text-align: center;
}

table{
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;

}

.background {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.login-container {
  border-radius: 10px;
  box-shadow: 0 0 20px 2px #e4e4e4;
  display: flex;
  width: 90%;
}

.text-container {
  align-items: center;
  background-color: #384bb4;
  border-radius: 10px 0 0 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 30%;
}

.text-container h1 {
  color: #fff;
}


