<div class="background">
  <div class="login-container">
    <div class="text-container">
      <img src="{{teams.img}}" *ngIf="teams.img" />
      <h3>{{teams.team_name}}</h3>
      <p>{{teams.description}}</p>
    </div>
    <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Posición</th>
          <th scope="col">Movimiento</th>
          <th scope="col">Fuerza</th>
          <th scope="col">Agilidad</th>
          <th scope="col">Pase</th>
          <th scope="col">Armadura</th>
          <th scope="col">Habilidades</th>
          <th scope="col">Coste</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players; let i = index">
          <ng-container *ngIf="players[i].team == id">
          <td>{{ players[i].player_name }}</td>
          <td>{{ players[i].mov }}</td>
          <td>{{ players[i].str }}</td>
          <td>{{ players[i].agl }}</td>
          <td>{{ players[i].thr}}</td>
          <td>{{ players[i].arm }}</td>
          <td>{{ players[i].hab }}</td>
          <td>{{ players[i].cost }}</td>
        </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>


